.ContactPageHeading{
    color:black;
}
.ContactMainDiv {
  width: 992px;
  margin-top: 10px;
}
.ContactMainDiv1 {
  width: 990px;
  min-height: 400px;
  float: left;
  padding-top: 40px;
  border: 1px solid silver;
}
.ContactLeftDiv {
  width: 475px;
  height: 440px;
  float: left;
}
.ContactPanelDiv {
  width: 450px;
  height: 400px;
  float: left;
  margin-left: 0px;
  border-right: 1px solid #eee;
}
.ContactRightDiv {
  width: 460px;
  height: 440px;
  float: right;
  margin-right: 25px;
}
.style1 {
  width: 400px;
  height: 275px;
}
.btnStyle{
    font-size:16px;
    
}
