.HomePageHeading {
    color:red;
    font-family:Century;
    font-size:30px;
    text-align:center;
}
.ContentsCenter {
    width:500px;
    min-height:400px;
    float:left;  
}
.ContentsLeft {
    width:200px;
    min-height:900px;
    float:left;
    
}
.header{
    height:100px;   
}

.headerTable{   
    height:100px;
    width:1100px;
}
.designer2{
    height:24px;
    width:80px;
    font-size:20px;
}
.designer{
    height:50px;
    width:300px;
    font-size:22px;
}
.water
        {
            font-style:italic;
            color:gray;
        }
.btnStyle{
    font-size:16px;
    
}

